.CFUserTextEncoding
.DS_Store
.zcompdump
.zsh_history
.bash_history
.irb-history
.rvmrc
.viminfo
.recently-used

.Trash/
Applications/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.vim/tmp/
.ssh/
.rvm/
.gem/
.config/
.subversion/
.slime/
