.CFUserTextEncoding
.DS_Store
.zcompdump
.zsh_history
.bash_history
.rvmrc
.viminfo

.Trash/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.vim/tmp/
.ssh/
.rvm/
