/Documents
/Downloads
/Desktop
/Pictures
/Public
/Videos
/bin
/dev

/.grl*
/.gtk*
/.swp
/.viminfo
/.ICEauthority
/.pulse-cookie
/.imsettings.log
/.esd_auth
/.netrc
/.bash_logout
/.zcompdump

/.xmonad/*
!/.xmonad/xmonad.hs
/.cabal/
/.cache/
/.config/
/.dbus/
/.filezilla/
/.fontconfig/
/.gconf/
/.gem/
/.ghc/
/.gimp-2.8/
/.gstreamer-0.10/
/.heroku/
/.links/
/.local/
/.mission-control/
/.mozilla/
/.pki/
/.gnome2/
/.racket/
/.rvm/
/.putty/
/.VirtualBox/
/.shotwell/
/.spice-vdagent/
/.ssh/
/.pulse/
/.thumbnails/
/.vim/tmp/

*.swp
*errors*
*[-_]history
*~
